.page-title{
    width: 100%;
    text-align: center;
    margin: 30px;
    font-family: Verdana, Arial, Tahoma, Serif;
    font-size: 50px;
}
.section-title{
    width: 100%;
    margin-left: 80px;
    font-family: Verdana, Arial, Tahoma, Serif;
    font-size: 35px;
    Margin-top: 100px;
}
.text{
    margin: 0%;
    padding-top: 5%;
}
.text-and-image{
    margin-left: 5%;
    margin-bottom: 50px;
}
.switch{
    flex-direction: column-reverse;
}
/* Image Grid */
.shop {
  display: grid;
  grid-template: auto auto auto auto auto / 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 10px;
}

.image img {
  width: 100%;
}
.about{
    margin: 5%;
}

@media only screen and (max-width: 400px) {
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 999px) {
.shop {
  grid-template: auto auto auto auto auto / 1fr 1fr;
}
}

/* Desktop Styles */
@media only screen and (min-width: 1000px) {
.shop {
  grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
}
.switch{
    flex-direction: row;
}
.text{
    width: 50%;
    margin: 0%;
    padding: 5%;
}

.image-container{
    width: 50%;
}
.shop-text{
    width: 100%;
    padding: 0px;
    padding-top: 5%;
}
.shop-image{
    width: 100%;
}
.shop-text-and-image{
    width: 90%;
    padding: 5%;
}
}